@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html, body {
  min-height:100%;
}

input, select, textarea, label, fieldset, form {
  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background:#CDDAE7 linear-gradient(193.15deg, #FFFFFF -9.82%, #CDDAE7 90.51%);
  min-height:100%;
  font-family: 'Poppins', sans-serif;
}
@media screen and (min-width: 768px){
  body {
    padding: 1rem;
  }
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}